<h2 mat-dialog-title>
  <span class="company-average-rating">
    {{ data.name }}
    <app-star-rating [rating]="data.averageRating" [readOnly]="true" />
    <div class="add-review-actions">
      @if (authService.isAuthenticated$ | async) {
        <button class="active-btn" mat-raised-button (click)="showAddReview()">Add Review</button>
      } @else {
        <button class="disabled-btn" disabled mat-flat-button>Login to Add Review</button>
      }
    </div>
  </span>
</h2>
<mat-dialog-content class="mat-typography">
  <span>
    {{ data.description }}
    <div class="company-website">
      <a [href]="data.website">{{ data.website }}</a>
    </div>
  </span>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
