.container{
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    height: calc(100% - 100px);

    .search-bar{
        margin-left: auto;
        width: 35%;
        min-width: 350px;
        max-width: 500px;

        mat-form-field{
            width: 100%;
        }
    }
    
    .listing{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
}